/*Estilo para modelos numericos*/

html, body {
  height        : 100%;
  font-size     : 1.02rem;
}
body {
  display       : flex;
  flex-direction: column;
  font-family: Arial,Helvetica, sans-serif;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
}

/* header-container-------- */
.row-header{
  padding-top   : 20px;
  padding-bottom: 20px;
  min-height    : 7rem;  
}

/* margin extra-------------*/
.margin_top {
  margin-top:30px;
}
.margin_bottom {
  margin-bottom: 50px;
}

/* content------------------*/
#content_page {
  flex          : 1 0 auto;
}
.air {
  margin-top    : -5px;
  margin-bottom : 4px;
  padding-top   : 0px;
  padding-bottom: 4px;
}

