/*Estilo para modelos numericos*/

html, body {
  height        : 100%;
  font-size     : 0.95rem;
}
body {
  display       : flex;
  flex-direction: column;
  font-family: Arial,Helvetica, sans-serif;
  background-color: whitesmoke;
}
/*estilo para botones*/
a {
  text-decoration: none;
}
a:active {
  border: 0px;
}
/*estilo para tabla*/
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
/*contenido documentacion */
.img_centro {
  justify-content: center;
  align-self: center;
  border: 1px black solid;
}
.img_icon {
  max-height: 100px;
}
.img_diagrama {
  max-width: 100%;
}

/* header-container-------- */
.row-header{
  padding-top   : 20px;
  padding-bottom: 20px;
  min-height    : 7rem;  
}
.header_content {
  background-color: darkblue;
  align-items: flex-start;

}

/* margin extra para ajuste */
 
.margin_top    { margin-top    : 10px;}
.margin_bottom { margin-bottom : 10px; }
.style_footer{ 
margin-top : 10px; 
margin-bottom : 10px; 
min-height:2rem;
}

.nav-item {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
}

/* content------------------*/
#content_page {
  flex          : 1 0 auto;
  height: 100%;

}
.air {
  margin-top    : -5px;
  margin-bottom : 4px;
  padding-top   : 0px;
  padding-bottom: 4px;
}

/*clases para maquetar*/
.container_principal {
  /* background-color: red; */
}
.row_contenido {
  /*background-color: blue; */
}
.info_lib{
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  
  color: white;
  background-color: #2a2d31; 
  padding: 20px;

}
.cont_lib{
  /*background-color: yellow; */
  min-height: 50%;
}



