/*Estilo para modelos numericos*/

html, body {
  height        : 100%;
  font-size     : 1.rem;
}
body {
  display       : flex;
  flex-direction: column;
  font-family: Arial,Helvetica, sans-serif;
  background-color: whitesmoke;
}
/*estilo para botones*/
a {
  text-decoration: none;
}
a:active {
  border: 0px;
}
/*contenido documentacion */
.img_centro {
  justify-content: center;
  align-self: center;
  border: 1px black solid;
}

/* header-container-------- */
.row-header{
  padding-top   : 20px;
  padding-bottom: 20px;
  min-height    : 7rem;  
}
.header_content {
  background-color: darkblue;
  align-items: flex-start;

}

/* margin extra para ajuste */
 
.margin_top    { margin-top    : 10px;}
.margin_bottom { margin-bottom : 10px; }
.margin_footer { margin-top : 10px; margin-bottom : 10px;}

/* content------------------*/
#content_page {
  flex          : 1 0 auto;
  height: 100%;

}
.air {
  margin-top    : -5px;
  margin-bottom : 4px;
  padding-top   : 0px;
  padding-bottom: 4px;
}

/*clases para maquetar*/
.container_principal {
  /* background-color: red; */
}
.row_contenido {
 /* background-color: blue; */
}


